body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column; 
    background-color: #ffffff;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.verification-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.verification-table th, .verification-table td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
    
}

.verification-table th {
    background-color: #1A2341;
    color: white;
}

.verification-table td input {
    width: 20px;
    height: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    box-shadow: #01327c 0px 3px 8px;
    border-radius: 5px;
    resize: vertical;
}

input[type="radio"]:checked::after {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
}

input[type="radio"]:hover {
    border-color: #01327c;
}

label {
    font-weight: bold;
    color: #1A2341;
    margin-bottom: 10px;
    display: block;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}